<!-- Product Item Begin -->
<div class="col-lg-4 col-md-6 col-sm-6">
     <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="Images/product/product-1.jpg">
               <ul class="product__hover">
                    <li>
                         <a href="#">
                              <i class="fa fa-heart" aria-hidden="true"></i>
                              <span>Add to favorites</span>
                         </a>
                    </li>
                    <li>
                         <a href="/Product">
                              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                              <span>View details</span>
                         </a>
                    </li>
               </ul>
          </div>
          <div class="product__item__text">
               <h6>Name</h6>
               <a href="#" class="add-cart">+ Add To Cart</a>
               @Html.Partial("_Rating")
               <h5>$67.24</h5>
               <div class="product__color__select">
                    <label for="pc-4">
                         <input type="radio" id="pc-4" />
                    </label>
                    <label class="active black" for="pc-5">
                         <input type="radio" id="pc-5" />
                    </label>
                    <label class="grey" for="pc-6">
                         <input type="radio" id="pc-6" />
                    </label>
               </div>
          </div>
     </div>
</div>
<!-- Product Item End -->